amqp==1.4.9
anyjson==0.3.3
asgiref==3.2.7
billiard==3.3.0.23
celery==3.1.26.post2
certifi==2019.11.28
chardet==3.0.4
Django==3.0.5
django-celery==3.3.1
django-sendgrid-v5==0.8.1
future==0.18.2
idna==2.9
kombu==3.0.37
psycopg2-binary==2.8.4
python-http-client==3.2.7
pytz==2019.3
requests==2.23.0
sendgrid==6.2.1
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
