header {
    padding: 10px 20px 10px 20px;
    background-color: #ddffdd;
}

.header_title,
.header_title:hover,
.header_title:focus {
    color: #276EBB;
    text-decoration: none;
    text-underline: none;
}

.header_login_logout {
    margin-right: 20px;
    margin-top: 10px;
}

.header_link,
.header_link:focus,
.header_link:hover {
    color: #276EBB;
    text-decoration: none;
    text-underline: none;
    margin-right: 20px;
}

.login_signup_form {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 100px;
    padding: 10px;
    background-color: #FFFFFF;
    webkit-box-shadow: 0 1px 2px 1px rgba(154, 154, 204, 0.22);
    -moz-box-shadow: 0 1px 2px 1px rgba(154, 154, 204, 0.22);
    box-shadow: 0 1px 2px 1px rgba(154, 154, 204, 0.22)
}

.login_signup_button {
    margin: 0 auto 20px;
}

.login_signup_form_title {
    text-align: center;
}

.login_signup_field,
.post_form_field > .markdownx {
    border-radius: 5px;
    border: none;
    outline: none;
    height: 35px;
    font-size: 20px;
    font-family: Roboto, sans-serif;
}

.login_signup_field > input {
    width: 90%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.post_form_field > .markdownx > div > textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.form_row {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: table;
}

.form_edit_title {
    margin-left: 20px;
    margin-bottom: 0;
    text-align: left;
}

.form_error_text {
    color: red;
    margin: 0;
}

.form_placeholder_text {
    color: grey;
}

.info_header {
    margin: 100px auto 0;
    text-align: center;
}

.post_form {
    margin-top: 20px;
}

.post_form_title {
    margin-left: 15px;
}

.markdownx > div > textarea {
    padding: 10px;
    width: 100%;
    resize: none;
    min-height: 500px;
}

.markdownx-preview {
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-family: Arial, sans-serif;
    margin: auto auto 20px;
}

.add_post_btn {
    width: 33%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.posts_block {
    margin: 20px;
    text-align: center;
}

.post,
.post_detail {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 10px 10px 10px 20px;
    border-radius: 12px;
    font-family: arial sans-serif;
    margin: auto auto 20px;
    text-align: left;
}

.post_detail {
    cursor: auto;
}

.post:hover,
.post:focus {
    outline: 1px solid #f5dd5d;
    border-radius: 0;
}

.post_link,
.post_link:hover,
.post_link:focus {
    text-decoration: none;
    color: black;
}

.post_date {
    text-align: right;
    margin-right: 30px;
}

.post_timestamp {
    color: #5897fb;
}

.post_creator {
    color: #5897fb;
}

.post_comment_form_field > textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    height: 150px;
}

.post_comments {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 15px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    margin: auto auto 20px;
    text-align: left;
}

.comments_title {
    margin-top: 20px;
    margin-left: 20px;
}

.comment {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 12px;
    font-family: arial sans-serif;
    text-align: left;
    margin: 20px;
}

.comment_text {
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.comment_info {
    margin-bottom: 5px;
}

.red {
    color: red;
}
